html, body {
  background: #CCCCCC;
}

//********** Header **********
.header {
  padding: 240px;
  text-align: center;
  background: url(../content/header.png) no-repeat;
  background-size:100% 100%;
  color: white;
 }

 .container {
   padding-bottom: 100px;
 }

 #first_title {
   font-family: 'Kaushan Script', cursive;
   text-align: center;
   font-size: 50px;
 }

 #welcome {
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
   font-weight: bolder; 
   text-align: center;
 }

 #text {
   color: rgb(190, 185, 185);
   border: transparent;
   text-align: center;
   padding-bottom: 50px;
 }

 //
 #line {
   font-size: 100px;
   font-weight: bolder;
 }

 .btn-primary {
   border: 2px solid white;
   background-color: transparent;
 }

 #navbarNavAltMarkup {
  padding-right: 10px;
}

//********** Section: Story about us **********
section {
  background-color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#cursive_font {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  padding-top: 80px;
}

#large_font {
  font-family: 'Montserrat', sans-serif;
  font-weight: Extra-Bold;
  text-align: center;
}

#line_2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: Extra-Bold;
  text-align: center;
  color: coral;
}

#column_style {
  background-color: turquoise; 
  text-align: center; 
  padding: 10px;
}

#para_style {
  color: white; 
  font-size: 50px; 
  font-family: 'Roboto', sans-serif;
}

#para_style_2 {
  color: white; 
  font-family: 'Roboto', sans-serif; 
  font-size: 10px;
}

 .bg {
  //padding: 240px;
  //text-align: center;
  background: url(../content/unique-design-bg.jpg) no-repeat;
  background-size:100% 100%;
  text-align: center;
  padding-top: 200px;
 }

 .ipad {
  position: relative;
 }

 .iphone {
  position: absolute;
  background: url(../content/iphone-vertical.png) no-repeat;
  text-align: center;
 }

 .container_style {
   width: 80%;
   max-width: 600px;
   margin: 50px auto;
 }

 button.accordion {
   width: 100%;
   background-color: whitesmoke;
   border: none;
   outline: none;
   text-align: left;
   padding: 15px 20px;
   font-size: 18px;
   transition: background-color 0.2s linear;
 }

 .accordion-content {
   padding: 0 20px;
   border-left: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-in-out;
 }
 //font-family: 'Montserrat', sans-serif;
 //font-family: 'Roboto', sans-serif;

 